<!DOCTYPE html>
<html>

<head>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>

<body>

  <div ng-app="testApp" ng-controller="testController">
    <ul class="column__list">
    <li class="column__list--item" ng-repeat="task in tasks | orderBy:'name':false" data-ng-class="{active:taskIndex=={{$index}}}">
        <div class="column__list--expand fa" ng-click="$parent.selectedTask = $parent.selectedTask == task ? null : task" ng-class="{'fa-chevron-down': $parent.selectedTask!=task, 'fa-chevron-up': $parent.selectedTask==task}">{{ task.title }}</div>
        <div class="column__list--actions slide" ng-show="$parent.selectedTask==task">
            {{ task.description }}
        </div>
    </li>
    </ul>
  </div>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript">
angular.module('testApp', ['ngAnimate'])
.controller('testController', ['$scope',
function($scope) {
    $scope.tasks = [
        {title: 'title1', description: 'description1'},
        {title: 'title2', description: 'description2'},
        {title: 'title3', description: 'description3'},
        {title: 'title4', description: 'description4'},
        {title: 'title5', description: 'description5'},
    ];
    
}])

.animation('.slide', function() {
  var NgHideClassName = 'ng-hide';
  return {
    beforeAddClass: function(element, className, done) {
      if(className === NgHideClassName) {
        jQuery(element).slideUp(done);
      }
    },
    removeClass: function(element, className, done) {
      if(className === NgHideClassName) {
        jQuery(element).hide().slideDown(done);
      }
    }
  }
});
</script>

</body>
</html>
